<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><img [src]="usuario.img | imagen" alt="user" /><span class="hide-menu">{{usuario.nombre}} </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a routerLinkActive="active" routerLink="/perfil"> <i class="fa fa-user-circle-o"></i> Perfil</a>
                        </li>
                        <li><a href="javascript:void()"><i class="mdi mdi-email"></i> Inbox</a></li>
                        <li><a routerLinkActive="active" routerLink="/account-settings"><i class="mdi mdi-settings"></i> Configuración</a></li>
                        <li>
                            <a (click)="_usuarioService.logout()" class="pointer"> <i class="fa fa-power-off"> </i> Cerrar Sesión</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONAL</li>

                <li *ngFor="let menu of _sidebar.menu">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i [class]="menu.icono"></i><span class="hide-menu">{{menu.titulo}} <span class="label label-rouded label-themecolor pull-right">{{menu.submenu.length}}</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let submenu of menu.submenu">
                            <a routerLinkActive="active" [routerLink]="[submenu.url]"> <i [class]="submenu.icon"> </i> {{submenu.titulo}} </a>
                        </li>

                        <!--  <li><a href="index2.html">Analytical</a></li>
                        <li><a href="index3.html">Demographical</a></li>
                        <li><a href="index4.html">Modern</a></li> -->
                    </ul>
                </li>
                <!--
                <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONAL</li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa  fa-suitcase"></i><span class="hide-menu"> Información <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a href="#" class="has-arrow"> <i class="mdi mdi-android-debug-bridge"> </i> Plagas <span class="label label-rounded label-light-danger pull-right">4 Tipos </span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="pages-login.html">Insectos de panoja y granos</a></li>
                                <li><a href="pages-login-2.html">Insectos de raíz</a></li>
                                <li><a href="pages-register.html">Insectos de tallo y vaina</a></li>
                                <li><a href="pages-register2.html">Insectos de hoja</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="has-arrow"> <i class="fa fa-medkit"></i> Enfermedades<span class="label label-rounded label-light-danger pull-right">4 </span></a>

                            <ul aria-expanded="false" class="collapse">
                                <li><a href="pages-login.html">Insectos de panoja y granos</a></li>
                                <li><a href="pages-login-2.html">Insectos de raíz</a></li>
                                <li><a href="pages-register.html">Insectos de tallo y vaina</a></li>
                                <li><a href="pages-register2.html">Insectos de hoja</a></li>
                            </ul>
                        </li>

                        <li><a href="index3.html">Demographical</a></li>
                        <li><a href="index4.html">Modern</a></li>
                    </ul>
                </li>
              -->
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->